<html>
<body>
<h1 class="text-center">Dichiarazione conflitti di interesse</h1>
<br><br>
Spett.le
<br><br><br><br>

<strong>Oggetto:</strong> Dichiarazione dei Conflitti di interesse
<br><br>
Gentili Signori,
<br><br>
con la presente siamo a richiederVi l’invio dell’allegata dichiarazione, compilata in ogni sua parte e
<br>
sottoscritta dal legale rappresentante, o da un soggetto munito dei necessari poteri, ai fini del processo
<br>
di valutazione interno della SIM in materia di Conflitto di Interessi ed operazioni con parti correlate.
<br>
<br>
La SIM, in ogni caso, si riserva di richiedere le ulteriori informazioni che dovesse ritenere utili o
<br>
necessarie alla formazione di un proprio convincimento in relazione alla sussistenza di un potenziale
<br>
Conflitto di Interessi o alla ricorrenza di un’operazione con parti correlate.
<br>
<br>
Si rappresenta che, in caso di mancata o parziale compilazione della citata dichiarazione, la SIM
<br>
considererà l’operazione da concludere / il contratto da stipulare come in Conflitto di Interessi e,
<br>
conseguentemente, si atterrà alle cautele ed alle limitazioni previste dalla normativa tempo per tempo
<br>
vigente e dalla procedura interna.
<br><br><br><br>
(data)
<br><br><br><br><br><br><br><br>

<h1 class="text-center">Dichiarazione conflitti di interessi</h1>
<br>
Spett.le MIT SIM S.p.A.
<br>
Il/La sottoscritto/a (cognome e nome) <u>{{name}}</u>
<br>
nato a <u>{{born_in}}</u>
<br>
il <u>{{born_in_the}}</u>
<br>
cittadinanza <u>{{citizenship}}</u>
<br>
Codice Fiscale/P.IVA <u>{{tax_code}}</u>
<br>
Residente in (indirizzo, n. civico) <u>{{address}}</u>
<br>
(Località̀ - CAP – Provincia) <u>{{city_zip_prov}}</u>
<br>
Documento identificativo (tipo/n.) <u>{{id_type_num}}</u>
<br>
Rilasciato da <u>{{released_by}}</u>
<br>
Scadenza <u>{{expiration}}</u>
<br>
in proprio, in quanto persona fisica;
<br>
nella sua qualità di rappresentante di <u>{{representative_of}}</u>
<br>
N. iscrizione CCIAA <u>{{chamber_registration_num}}</u>
<br>
Codice Fiscale/P.IVA <u>{{chamber_tax_code}}</u>
<br>
Sede legale (Via – n. civico) <u>{{chamber_str_civic}}</u>
<br>
(Località - CAP – Provincia) <u>{{chamber_city_zip_prov}}</u>
<br>
Stato <u>{{chamber_state}}</u>
<br>
(di seguito la “Società”);
<br>
<strong>(A)</strong> Dichiara per sé e per gli Stretti familiari che, alla data della presente dichiarazione ed ai fini del
<br>
processo di valutazione interno della SIM in materia di conflitto di interessi ed operazioni con parti
<br>
correlate:
<li>
<ul>è</ul>
<ul>non è</ul>
</li>
un Soggetto Rilevante e/o Persona avente un legame di controllo, diretto o indiretto con la SIM,
<br>
nell’organizzazione della stessa o nello svolgimento del suo processo produttivo (es. outsourcer,
<br>
consulente, controparte finanziaria ecc.);
<li>
<ul>rientra</ul>
<ul>non rientra</ul>
</li>
nella definizione di “Parte Correlata” della SIM;
<br>
<li>
    <ul>sussistono</ul>
    <ul>non sussistono</ul>
</li>
<br>
rapporti d’affari rilevanti di natura finanziaria, operativa, contrattuale, lavorativi o di altro genere con
<br>
la SIM, i Soggetti Rilevanti e/o Persona avente un legame di controllo, diretto o indiretto, con la SIM, e
<br>
precisamente (specificare):
<br>
<u>{{business_relations}}</u>
<br>
Il controvalore dell'operazione / rapporto è il seguente: [dato da fornire sempre ed obbligatoriamente]
<br>
Euro <u>{{value_of_transaction}}</u> (confronta proposta lettera d’incarico)
<br>
(B) Allega alla presente, oltre alla visura camerale in caso di soggetto con personalità giuridica, al fine
<br>
di meglio chiarire i rapporti e le posizioni in essere, i documenti di seguito indicati (specificare):
<br>
<u>{{extra_documents}}</u>


<br><br><br><br><br><br>
Milano, (data)							Firma


</body>
</html>